{% extends "base_FAQ.html" %}
{% block title %}Дополнительные вопросы{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
        <h4 class="text-center color1 mt-2">Отредактировать вопрос "{{ question.question }}"</h4>
        </div>
    </div>

    <form method="post">
        {{ formset.management_form }}
        {% csrf_token %}
        {% for f in form %}
            <div class="row row-cols-md-2 pb-2">
                <label class="col-md-3 col-form-label" for="{{ f.id_for_label }}"> {{ f.label }}:</label>
                <div class="col-md-7">
                    {{ f }}
                </div>
                <div class="form-error --danger">
                    {{f.errors}}
                </div>
            </div>
            {% endfor %}
            <div class="row">
                <div class="col-12 mt-3">
                    <h4 class="text-center color1 mb-3">Укажите дочерние вопросы:</h4>
                </div>
            </div>
            {% for form in formset %}
            <div class="row text-center">
                 <div class="col 12 mb-2">
                     {{ form }}
                 </div>
            </div>
        {% endfor %}

        <div class="submit-row">
            <a href="{% url 'FAQ:delete_question' bot.id question.id %}" class="btn btn-outline-danger delete ">Удалить</a>
            <input type="submit" class="btn btn-outline-success default" value="Сохранить" name="_save">
            <input type="submit" class="btn btn-outline-success custom" value="Сохранить и продолжить редактирование" name="_continue">
            <input type="submit" class="btn btn-outline-success custom" value="Сохранить и добавить другой вопрос" name="_addanother">
        </div>
    </form>

</div>
{% endblock %}









<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center text-uppercase color1 pt-2">{{ bot.bot_name }}</h2>
            <h3 class="text-center color2 pt-2">Новый вопрос</h3>
        </div>
    </div>
    <form method="post">
        {{ formset.management_form }}
        {% csrf_token %}
        {% for f in form %}
            <div class="row row-cols-md-2 pb-2">
                <label class="col-md-3 col-form-label" for="{{ f.id_for_label }}"> {{ f.label }}:</label>
                <div class="col-md-7">
                    {{ f }}
                </div>
                <div class="form-error --danger">
                    {{f.errors}}
                </div>
            </div>
        {% endfor %}
        {% for forms in formset %}
            {% for field in forms %}
                <div class="row row-cols-md-2 pb-2">
                    <label class="col-md-3 col-form-label" for="{{ f.id_for_label }}"> {{ f.label }}:</label>
                    <div class="col-md-7">
                        {{ f }}
                    </div>
                    <div class="form-error --danger">
                        {{f.errors}}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
        <div class="row row-cols-md-2 pb-2 justify-content-center">
            <div class="col-md-8 d-grid mx-auto">
                <a href="{% url 'FAQ:settings_bot_detail' bot.id %}" class="btn btn-outline-danger mb-3">Отмена</a>
            </div>
            <div class="col-md-4 d-grid mx-auto">
                <input type="submit" class="btn btn-outline-success mb-3" value="Сохранить">
            </div>
        </div>
    </form>
</div>